@model IEnumerable<EMS.Models.tblPosition>
@{
    ViewBag.Title = "Position";
    Layout = null;
}

<h2 class="text-center" style="color:#020240">Position List</h2>
<div class="d-flex justify-content-center">
   @Html.Partial("_PositionList")
</div>


